nav {
  background-color: #277163;
  padding: 5px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  color: aliceblue;
  display: flex;
  align-items: center;
}
img {
  max-width: 100px;
  max-height: 100px;
}
.imglogo{
height:80px;
width: 80px;

}


.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #255e7d;
}
.myButton:hover {
	background-color:#277e87;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Estilos para el footer */
footer {
  background-color: #a6a3a3;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilos para las imágenes de los logos en el footer */
.social-icons img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

/*estilo de las versiones media */
@media (max-width: 768px) {
  header h1 {
    font-size: 24px;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    align-items: center;
    padding: 5px 0; 
  }
}